/*theme default css*/
/*=======================*/
.f-right{
	float: right;
}
.f-left{
	float: left;
}
.d-flex{
	display: flex;
}
.pt-50{
	padding-top: 40px;
}
.pb-50{
	padding-bottom: 40px;
}
.pt-55{
  padding-top: 55px;
}
.mar-bot-50 {
  margin-bottom: 50px; }

.mar-bot-40 {
  margin-bottom: 40px; }

.mar-bot-35 {
  margin-bottom: 35px; }

.mar-bot-30 {
  margin-bottom: 30px; }

.margin-minas {
  margin-bottom: -50px; }

.mar-top-30 {
  margin-top: 30px; }

.mar-top-80 {
  margin-top: 80px; }

.mar-top-80 {
  margin-top: 80px; }

.mar-top-55 {
  margin-top: 55px; }

.mar-top-108 {
  margin-top: 108px; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

  .header-bg{
	background-color: #EAEAFB;
  }
  .footer-bg{
  	background-color: #FFE8F1;
  }
  .Rectangle_13 {
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 5px 84px 0px rgba(0, 0, 0, 0.13);
  position: absolute;
  left: 374px;
  top: 2112px;
  width: 470px;
  height: 186px;
  z-index: 107;
}
